.payments-offer {
  width: 190px;
  height: 65px;
  border: 1px solid $purple;
  border-radius: 4px;
  padding: 0 13px;
  color: $whiteText;
  display: flex;
  cursor: pointer;
  transition: 0.3s;

  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  h3 {
    font-size: 16px;
    font-weight: normal;
  }

  h5 {
    font-size: 13px;
    font-weight: normal;
    color: $grayText;
  }
  .circles {
    position: relative;
    height: 16px;
    width: 16px;
  }

  .circle {
    width: 16px;
    height: 16px;
    position: absolute;
  }

  .circle-filled {
    width: 16px;
    height: 16px;
    display: none;
    position: absolute;
  }

  &:hover {
    .circle-filled {
      display: inline;
    }
  }

  &:hover {
    border: 1px solid $purpleLight;
  }
  &:active {
    box-shadow: inset rgb(173, 78, 218) 0 0 5px;
  }

  &.active {
    .circle-filled {
      display: inline;
    }
  }
}

.payments-offer--primary {
  background-color: $purple;

  &:hover {
    border: none;
    background-color: $purpleLight;
  }

  &:active {
    border: none;
    background-color: $purple;
    box-shadow: inset rgb(0, 0, 0) 0 0 5px;
  }
}
