.password-input {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;

  .password-icon {
    position: absolute;
    margin-right: 14px;
    z-index: 2;
    width: 26px;
    height: 18px;
  }
}
