.episode{
    min-width: 250px;
    font-size: medium;
    background-color: $episodeBackgorund;
    border: 1px solid $purple;
    box-shadow: 2px 2px 2px $black;
    .image{
        width: 100%;
        height: 100px;
        background: no-repeat;
        background-size: cover;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .info{
        width: 250px;
        padding: 4px 4px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 4px;
        .top{
            display: flex;
            justify-content: space-between;
            .title{
                font-weight: bold;
            }
        }
        .description{
            font-size: 12px;
        }
        .duration{
            display: flex;
            justify-content: end;
        }
    }
}