@import '../../style/colors';

.movieInfoMain{
    width: 100%;
    display: flex;
    gap: 2rem;

    .primaryImage{
        width: 50%;
        min-height: 20rem;
        max-height: 30rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: $blackTransparent 5px 5px 10px;
    }
    
    .content{
        width: 50%;
        font-size: medium;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:1rem;
        .logo{
            width: 100%;
            height: 5rem;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        .short{
            font-size: small;
            display: flex;
            flex-direction: column;
            gap:8px;
            .top{
                align-items: center;
                display: flex;
                gap:8px;
                
                .smallInfo{
                    box-sizing: border-box;
                    background-color: $yellow;
                    padding-left: 8px;
                    padding-right: 8px;
                    padding-top: 2px;
                    padding-bottom: 2px;
                    border-radius: 4px;
                    color: $backgroundDrak;
                    box-shadow: 0px 0px 4px $blackTransparent;
                }
                
            }
            .bottom{
                display: flex;
                gap:4px;

                .category{
                    align-items: center;
                    display: flex;
                    width: fit-content;
                }
            }
        }

        .buttons{
            gap:1rem;
            display: flex;
            align-items: center;
        }
    }
}
.movieNav{
    width: 100%;
    display: flex;
    font-size: medium;
    border-bottom: 1px $purple solid;
    ul{
        padding: 0;
        display: flex;
        gap:16px;
        margin: 0;

        li{
            list-style: none;
            cursor: pointer;

            &:hover{
                color: $purple;
            }
        }
    }
}

.movieAdds{
    display: flex;
    width: 100%;

    .moreInfo{
        display: flex;
        width: 100%;
        gap:10%;

        .left{
            width: 60%;
            display: flex;
            flex-direction: column;
            gap:1rem;

            .title{
                font-size: large;
                font-weight: bold;
            }

            .longDesc{
                font-size: medium;
                font-weight:300;
            }
        }

        .infoTitle{
            font-weight: bold;
        }

        .right{
            width: 40%;
            display: flex;
            flex-direction: column;
            font-size: medium;
            gap: 1rem;

            .top{
                display: flex;
                width: 100%;
                justify-content: space-between;
                
            }

            .mid{
                .infoValue{
                    display: flex;
                    gap: 8px;
                }
            }

            .bottom{
                display: flex;
                flex-direction: column;
                gap: 8px;
                .directorPhoto{
                    width: 100px;
                    height: 128px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    box-shadow: 2px 2px 5px black;
                }
            }
        }
    }
    .castScroll{
        max-width: 100%;
        overflow-x: scroll;
        .castRow{
            display: flex;
            gap: 2rem;
    
        }
    }
}