* {
  box-sizing: border-box;
}

input[type="text"] {
  width: 50%;
  padding: 12px;
  border: none;
  resize: vertical;
}

.label {
  padding: 12px 12px 12px 12px;
  display: inline-block;
}

.col-25 {
  float: left;
  width: 25%;
  margin-bottom: 6px;
  background-color: #2a9d8f;
  color: white;
}

.col-75 {
  float: left;
  width: 75%;
  margin-bottom: 6px;
}
.row {
  border-top: 2px solid black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.error-message--settings {
  padding-top: 0;
}

.settings {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  gap: 10px;
  font-size: 16px;

  button {
    padding: 0;
    background-color: inherit;
  }
  .settings__form {
    width: calc(100% - 200px);

    h3.settings__header {
      margin: 10px 0;
      display: flex;
      font-size: 40px;
      color: $pink;

      justify-content: start;
    }
    // .settings-item {
    //   //   border-top: 2px solid $whiteText;
    //   //   display: flex;

    //   .settings-item__title {
    //     float: left;
    //     width: 25%;
    //     margin-bottom: 6px;
    //     background-color: #2a9d8f;
    //     color: white;
    //   }

    //   .settings-item__content {
    //     float: left;

    //     .settings-item__row {
    //       display: flex;
    //       align-items: center;
    //       justify-content: space-between;
    //       // margin: 10px 0 10px 50px;
    //       align-items: start;
    //       p.offer {
    //         white-space: pre-wrap;
    //         line-height: 2.5;
    //       }
    //       .settings-item__input {
    //         display: flex;
    //         flex-direction: column;
    //         // gap: 15px;
    //       }

    //       button.offer {
    //         padding: 6px 0;
    //       }

    //       &.settings-item__row--offer {
    //         margin-top: 1px;
    //       }

    //       .settings-item__buttons {
    //         display: flex;
    //         gap: 20px;
    //       }
    //     }
    //   }

    //   .settings-item__content--profiles {
    //     padding: 5px 0 10px 0;
    //   }
    // }
  }
}
