@import './colors.scss';

button{
    font-family: 'Roboto';
    letter-spacing: normal;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    box-sizing: content-box;
    font-weight: bold;
    cursor: pointer;
    transition: ease-in-out 0.2s all;
}
.button-primary{
    background-color: $purple;
    color: $whiteText;
    &:hover{
        background-color: $purpleLight;
    }
    &:active{
        background-color: $purple;
        box-shadow: inset $black 0 0 5px;
    }
}
.button-secondary{
    background-color: $backgroundDrak;
    color: $whiteText;
    border: 2px $purple solid;
    &:hover{
        background-color: $purpleDark;
        color:$whiteText;
        border: 2px $whiteText solid;
    }
    &:active{
        background-color: $backgroundDrak;
        box-shadow: inset $black 0 0 5px;
        color:$purple;
        border: 2px $purple solid;

    }
}

.button-exit{
    background-color: $red;
    color: $whiteText;
    &:hover{
        background-color: $redLight;
        color:$whiteText;
    }
    &:active{
        background-color: $red;
        box-shadow: inset $black 0 0 5px;
        color:$whiteText;

    }
}
.iconButton{
    width: 40px;
    height: 40px;
    background-size: cover;
}
.favButton{
    background-image: url('../imgs/movieTile/Favorite.svg');
}
.moreButton{
    background-image: url('../imgs/movieTile/More.svg');
}
.playButton{
    background-image: url('../imgs/movieTile/Play.svg');
    z-index: 5;
}
.addButton{
    background-image: url('../imgs/icons/addIcon.svg');
    transition: all ease-in-out 0.3s;

    &:hover{
        filter: drop-shadow($purple 1px 3px);
        transform: scale(1.1);
    }
}
.searchButton{
    width: 30px;
    height: 30px;
    background-image: url('../imgs/icons/search.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
.closeButton{
    width: 25px;
    height: 25px;
    background-image: url('../imgs/icons/close.svg');
    background-size: cover;
    background-repeat: no-repeat;
}
