$blackTransparent: rgba(0, 0, 0, 0.7);
$backgroundAppGrey: #262428;
$backgroundDrak: #504957;
$purple: #782cbf;
$purpleLight: #9864c9;
$purpleDark: #421969;
$grayText: #bab1bc;
$whiteText: #f3eff5;
$whiteTransparent: rgba(255, 255, 255, 0.7);
$whiteShadow: rgba(138, 138, 138, 0.25);
$yellow: #d2d21b;
$episodeBackgorund: #343137;
$black: #000;
