$blackTransparent: rgba(0, 0, 0, 0.7);
$backgroundAppGrey: #262428;
$backgroundDrak: #504957;
$purple: #782cbf;
$purpleLight: #9864c9;
$purpleDark: #421969;
$grayText:#bab1bc;
$whiteText:#F3EFF5;
$whiteTransparent:rgba(255, 255, 255, 0.7);
$whiteShadow:rgba(138, 138, 138, 0.25);
$yellow:#D2D21B;
$episodeBackgorund:#343137;
$black:#000;
$red:rgb(134, 60, 60);
$redLight:rgb(201, 62, 62);