@font-face {
  font-family: "Nico Moji";
  src: url(./fonts/nicomoji/NicoMoji-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(./fonts/roboto/Roboto-Regular.ttf);
}

$small: 13px;
$regular: 16px;
$high: 25px;
