@import "./colors.scss";

// place holder style
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $grayText;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $grayText;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $grayText;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.wrapper__text-input {
  padding: 10px 16px;
  height: 50px;
  width: 400px;
  color: inherit;
  background-color: inherit;
  border: 2px solid $whiteText;
  border-radius: 4px;

  &:focus {
    outline: none;
    border: 3px solid $whiteText;
  }
}

.wrapper__text-input--smaller {
  width: 190px;
}

.wrapper__text-input--modifySettings {
  border: none;
  height: 100%;
  width: 100%;
  color: inherit;
  background-color: inherit;
  border-radius: none;
  padding: 0;
  &:focus {
    outline: none;
    border: none;
  }
}

.inputWithError {
  box-sizing: border-box;
  height: 24px;
}

.inputWithError--open {
  box-sizing: border-box;
  height: fit-content;
}
