
$blackTransparent:rgba(0, 0, 0, 0.7);
$backgroundDrak:#343137;
$purple:#782CBF;
$purpleLight:#9864c9;
$purpleDark: #421969;
$grayText:#BCB1B1;
$whiteText:#F3EFF5;
$whiteTransparent:rgba(255, 255, 255, 0.7);