@import "./colors";
@import "./card";
@import "./background";
@import "./fonts";
@import "./checkbox";

// place holder style
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $whiteText;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $whiteText;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $whiteText;
}

.wrapper {
  width: 400px;
  height: 100%;
  // position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;

  &__header {
    color: white;
    margin-bottom: 10px;
    h1 {
      font-size: 24px;
      font-weight: bold;
    }

    h4 {
      font-size: 13px;
    }
  }

  &__text {
    color: white;
    margin-bottom: 10px;
  }

  &__text-input {
    padding: 10px 16px;
    height: 50px;
    color: white;
    background-color: inherit;
    border: 3px solid white;
    border-radius: 4px;
  }
}
