@font-face {
  font-family: "Nico Moji";
  src: url(./fonts/nicomoji/NicoMoji-Regular.ttf);
}
button {
  font-family: "Roboto";
  letter-spacing: normal;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  box-sizing: content-box;
  font-weight: bold;
  cursor: pointer;
  transition: ease-in-out 0.2s all;
}

.button-primary {
  background-color: #782cbf;
  color: #F3EFF5;
}
.button-primary:hover {
  background-color: #9864c9;
}
.button-primary:active {
  background-color: #782cbf;
  box-shadow: inset #000 0 0 5px;
}

.button-secondary {
  background-color: #504957;
  color: #F3EFF5;
  border: 2px #782cbf solid;
}
.button-secondary:hover {
  background-color: #421969;
  color: #F3EFF5;
  border: 2px #F3EFF5 solid;
}
.button-secondary:active {
  background-color: #504957;
  box-shadow: inset #000 0 0 5px;
  color: #782cbf;
  border: 2px #782cbf solid;
}

.button-exit {
  background-color: rgb(134, 60, 60);
  color: #F3EFF5;
}
.button-exit:hover {
  background-color: rgb(201, 62, 62);
  color: #F3EFF5;
}
.button-exit:active {
  background-color: rgb(134, 60, 60);
  box-shadow: inset #000 0 0 5px;
  color: #F3EFF5;
}

.iconButton {
  width: 40px;
  height: 40px;
  background-size: cover;
}

.favButton {
  background-image: url("../imgs/movieTile/Favorite.svg");
}

.activeFavButton {
  background-image: url("../imgs/icons/favorite-active.svg");
}

.moreButton {
  background-image: url("../imgs/movieTile/More.svg");
}

.playButton {
  background-image: url("../imgs/movieTile/Play.svg");
  z-index: 5;
}

.addButton {
  background-image: url("../imgs/icons/addIcon.svg");
  transition: all ease-in-out 0.3s;
}
.addButton:hover {
  filter: drop-shadow(#782cbf 1px 3px);
  transform: scale(1.1);
}

.searchButton {
  width: 30px;
  height: 30px;
  background-image: url("../imgs/icons/search.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.closeButton {
  width: 25px;
  height: 25px;
  background-image: url("../imgs/icons/close.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

@font-face {
  font-family: "Nico Moji";
  src: url(./fonts/nicomoji/NicoMoji-Regular.ttf);
}
.home {
  background-image: url("../imgs//theme/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  min-height: 400px;
  min-width: 600px;
}
.home main {
  margin: auto;
  width: 70%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding-top: 2rem;
  box-sizing: border-box;
}
.home main .homeHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 3rem;
  padding-right: 3rem;
}
.home main .homeHeader .title {
  font-size: 5rem;
  font-family: "Nico Moji";
}
.home main .homeHeader .title span {
  margin: 0;
  color: #782cbf;
}
.home main .centeredContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.home main .centeredContent h1 {
  margin: 0;
}
.home main .centeredContent h3 {
  margin: 0;
}
.home main .darkinfo {
  color: #bab1bc;
}
.home main .homeForm {
  height: 3rem;
  width: 50%;
  display: flex;
}
.home main .homeForm input {
  width: 70%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}
.home main .homeForm button {
  font-size: larger;
  width: 30%;
  font-weight: bold;
  border-radius: 0 10px 10px 0;
}

nav {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: space-between;
  border-bottom: 1px solid #782cbf;
}
nav .navLeft {
  display: flex;
}
nav .navLeft ul {
  height: 100%;
  font-size: medium;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav .navLeft ul li {
  margin-left: 1rem;
  cursor: pointer;
  transition: ease-in-out all 0.2s;
}
nav .navLeft ul li:hover {
  color: #9864c9;
}
nav .navRight {
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav .navRight .navMenu {
  display: flex;
  align-items: center;
  gap: 8px;
}
nav .navRight .navMenu .menuArrow {
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../imgs/icons/menuArrow.svg");
}
nav .navRight .navSearch {
  height: 100%;
  display: flex;
  flex-grow: initial;
}
nav .navRight .navSearch input {
  background-color: #504957;
  color: #F3EFF5;
}
nav .menu {
  top: 4rem;
  right: 0;
  position: absolute;
  width: 150px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #000;
  opacity: 0;
  transition: all 0.5s ease;
}
nav .menu.open {
  opacity: 1;
  transform: translateY(1);
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding-bottom: 1rem;
  z-index: 10;
}
nav .menu.close {
  opacity: 0;
  height: -moz-fit-content;
  height: fit-content;
  transform: translateY(-100%);
  padding-bottom: 0;
  z-index: -1;
}
nav .menu .menu-item {
  font-size: medium;
  width: 100%;
  border-bottom: 1px #F3EFF5 solid;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
nav .menu .menu-item:hover {
  color: #9864c9;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  height: 100%;
  gap: 2rem;
}
main .slider {
  position: relative;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  overflow-x: hidden;
  box-shadow: 5px 5px 10px black;
}
main .slider .slide {
  min-width: 100%;
  height: 40vh;
  background-image: url("../imgs/slider/image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out 0.3s all;
}
main .slider .slide .logo {
  width: 400px;
  min-height: 20%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: ease-in-out 0.3s all;
  cursor: pointer;
}
main .slider .slide .logo:hover {
  transform: scale(1.1);
}
main .slider .slide .sliderNav {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  gap: 8px;
}
main .slider .slide .sliderNav .indicator {
  width: 15px;
  height: 15px;
  padding: 0;
  border-radius: 100%;
  box-shadow: 0 0 5px #782cbf;
  background-color: #421969;
}
main .slider .slide .sliderNav .active {
  background-color: #9864c9;
}
main .category {
  width: 100%;
}
main .category .title {
  font-size: large;
}

.movieTile {
  height: 20vh;
  width: 100%;
  transition: all ease-in-out 0.3s;
  z-index: 1;
}
.movieTile:hover {
  width: 150%;
  height: 25vh;
  z-index: 2;
  transform: translateY(-50%) translateX(-15%);
}
.movieTile .tileButton {
  width: 40px;
  height: 40px;
  background-size: cover;
}
.movieTile .movieTileImage {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.movieTile .movieTileImage .playButton {
  background-image: url("../imgs/movieTile/Play.svg");
  z-index: 5;
}
.movieTile .movieTileInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-sizing: border-box;
  background-color: #000;
  padding: 1rem;
}
.movieTile .movieTileInfo .tileHeader {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}
.movieTile .movieTileInfo .infos {
  display: flex;
  gap: 8px;
  align-items: center;
  text-align: start;
  font-size: small;
}
.movieTile .movieTileInfo .middle {
  justify-content: space-between;
}
.movieTile .movieTileInfo .middle .buttons {
  display: flex;
  gap: 1rem;
}
.movieTile .movieTileInfo .movieLogo {
  background-size: contain;
  background-repeat: no-repeat;
  width: 60%;
  height: 3rem;
}
.movieTile .movieTileInfo .categories {
  display: flex;
  font-size: small;
  gap: 8px;
}
.movieTile .movieTileInfo .categories .movieCategory {
  display: flex;
  align-items: center;
  gap: 8px;
}

.movieInfoMain {
  width: 100%;
  display: flex;
  gap: 2rem;
}
.movieInfoMain .primaryImage {
  width: 50%;
  min-height: 20rem;
  max-height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.7) 5px 5px 10px;
}
.movieInfoMain .content {
  width: 50%;
  font-size: medium;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.movieInfoMain .content .title {
  font-weight: bold;
  font-size: large;
}
.movieInfoMain .content .logo {
  width: 100%;
  height: 5rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.movieInfoMain .content .short {
  font-size: small;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.movieInfoMain .content .short .top {
  align-items: center;
  display: flex;
  gap: 8px;
}
.movieInfoMain .content .short .top .smallInfo {
  box-sizing: border-box;
  background-color: #D2D21B;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 4px;
  color: #504957;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
}
.movieInfoMain .content .short .bottom {
  display: flex;
  gap: 4px;
}
.movieInfoMain .content .short .bottom .category {
  align-items: center;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
}
.movieInfoMain .content .buttons {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.movieNav {
  width: 100%;
  display: flex;
  font-size: medium;
  border-bottom: 1px #782cbf solid;
}
.movieNav ul {
  padding: 0;
  display: flex;
  gap: 16px;
  margin: 0;
}
.movieNav ul li {
  list-style: none;
  cursor: pointer;
}
.movieNav ul li:hover {
  color: #782cbf;
}

.movieAdds {
  display: flex;
  width: 100%;
}
.movieAdds .moreInfo {
  display: flex;
  width: 100%;
  gap: 10%;
}
.movieAdds .moreInfo .left {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.movieAdds .moreInfo .left .title {
  font-size: large;
  font-weight: bold;
}
.movieAdds .moreInfo .left .longDesc {
  font-size: medium;
  font-weight: 300;
}
.movieAdds .moreInfo .infoTitle {
  font-weight: bold;
}
.movieAdds .moreInfo .right {
  width: 40%;
  display: flex;
  flex-direction: column;
  font-size: medium;
  gap: 1rem;
}
.movieAdds .moreInfo .right .top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.movieAdds .moreInfo .right .mid .infoValue {
  display: flex;
  gap: 8px;
}
.movieAdds .moreInfo .right .bottom-row {
  display: flex;
  justify-content: space-between;
}
.movieAdds .moreInfo .right .bottom-row .bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.movieAdds .moreInfo .right .bottom-row .bottom .directorPhoto {
  width: 100px;
  height: 128px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 2px 5px #000;
}
.movieAdds .moreInfo .right .bottom-row .bottom .producerImage {
  min-width: 150px;
  min-height: 75px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.movieAdds .castScroll {
  max-width: 100%;
  overflow-x: scroll;
}
.movieAdds .castScroll .castRow {
  display: flex;
  gap: 2rem;
}

.spacer {
  height: 100px;
}

.actorComponent {
  min-width: 128px;
  max-width: 128px;
  background-color: #504957;
  border: 1px solid #782cbf;
  box-shadow: 5px 5px 5px #000;
}
.actorComponent .actorImg {
  width: 100%;
  height: 128px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.actorComponent .actorName {
  padding-top: 8px;
  padding-bottom: 8px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font-size: medium;
}

.seasons {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.seasons .episodes {
  max-width: 100%;
  overflow-x: scroll;
}
.seasons .episodes .episodesRow {
  display: flex;
  gap: 2rem;
  justify-content: start;
}

.episode {
  min-width: 250px;
  font-size: medium;
  background-color: #343137;
  border: 1px solid #782cbf;
  box-shadow: 2px 2px 2px #000;
}
.episode .image {
  width: 100%;
  height: 100px;
  background: no-repeat;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.episode .info {
  width: 250px;
  padding: 4px 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.episode .info .top {
  display: flex;
  justify-content: space-between;
}
.episode .info .top .title {
  font-weight: bold;
}
.episode .info .description {
  font-size: 12px;
}
.episode .info .duration {
  display: flex;
  justify-content: end;
}

.filterPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
}

.producerTitle {
  font-size: medium;
}
.producerTitle span {
  font-weight: bold;
}

.movieList {
  display: flex;
  width: 100%;
  justify-content: start;
  gap: 2rem;
}
.movieList .tile {
  width: 18%;
  height: 20vh;
}

.arrowBg {
  width: 50px;
  height: 20vh;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrowBg .arrow {
  width: 40px;
  height: 40px;
  background-image: url("../imgs/icons/arrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 1;
}
.arrowBg .right {
  rotate: 180deg;
}

.leftBg {
  left: 0;
}

.rightBg {
  right: 0;
}

.producersList {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
}

.producersPage {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.producer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 15vh;
  background-color: #504957;
  border-radius: 10px;
  box-shadow: inset rgba(138, 138, 138, 0.25) 0px 0px 10px;
  cursor: pointer;
  transition: ease-in-out all 0.3s;
}
.producer:hover {
  background-color: #782cbf;
}
.producer .producerImage {
  width: 60%;
  height: 10vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.columnDisplay {
  align-items: flex-start;
  height: 100%;
}

.favorites__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.favorites__header--title {
  display: flex;
  gap: 20px;
}
.favorites__header--dropdown .up {
  border-radius: 5px 5px 0px 0px;
}
.favorites__header--dropdown__button {
  transition: none;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  background-color: #504957;
  color: #fff;
  font-weight: normal;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.329);
}
.favorites__header--dropdown__button--arrow__down {
  transform: rotate(-90deg);
}
.favorites__header--dropdown__button--arrow__up {
  transform: rotate(90deg);
}
.favorites__header--dropdown__box {
  position: absolute;
  padding: 16px;
  background-color: #504957;
  border-radius: 0px 5px 5px 5px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.329);
}
.favorites__header--dropdown__box--filters {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.favorites__header--dropdown__box--filters__option {
  cursor: pointer;
  color: #a3a3a3;
  text-decoration: line-through;
}
.favorites__header--dropdown__box--filters__option:hover {
  color: #9864c9;
  font-weight: bold;
}
.favorites__header--dropdown__box--filters__option--active {
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}
.favorites__header--dropdown__box--filters__option--active:hover {
  text-decoration: line-through;
}
.favorites__header--dropdown__box--search {
  display: flex;
  gap: 20px;
}
.favorites__header--dropdown__box--search input {
  font-size: 20px;
  max-width: 200px;
  height: 30px;
  background-color: #fff;
  padding: 0px 5px;
  position: relative;
}
.favorites__header--dropdown__box--search input:focus {
  outline: none;
}
.favorites__rows {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.black-background {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px 0;
  width: 662px;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bab1bc;
  opacity: 1; /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bab1bc;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bab1bc;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #bab1bc;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.wrapper__text-input {
  padding: 10px 16px;
  height: 50px;
  width: 400px;
  color: inherit;
  background-color: inherit;
  border: 2px solid #F3EFF5;
  border-radius: 4px;
}
.wrapper__text-input:focus {
  outline: none;
  border: 3px solid #F3EFF5;
}

.wrapper__text-input--smaller {
  width: 190px;
}

.payments-offer {
  width: 190px;
  height: 65px;
  border: 1px solid #782cbf;
  border-radius: 4px;
  padding: 0 13px;
  color: #F3EFF5;
  display: flex;
  cursor: pointer;
  transition: 0.3s;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.payments-offer h3 {
  font-size: 16px;
  font-weight: normal;
}
.payments-offer h5 {
  font-size: 13px;
  font-weight: normal;
  color: #bab1bc;
}
.payments-offer .circles {
  position: relative;
  height: 16px;
  width: 16px;
}
.payments-offer .circle {
  width: 16px;
  height: 16px;
  position: absolute;
}
.payments-offer .circle-filled {
  width: 16px;
  height: 16px;
  display: none;
  position: absolute;
}
.payments-offer:hover .circle-filled {
  display: inline;
}
.payments-offer:hover {
  border: 1px solid #9864c9;
}
.payments-offer:active {
  box-shadow: inset rgb(173, 78, 218) 0 0 5px;
}
.payments-offer.active .circle-filled {
  display: inline;
}

.payments-offer--primary {
  background-color: #782cbf;
}
.payments-offer--primary:hover {
  border: none;
  background-color: #9864c9;
}
.payments-offer--primary:active {
  border: none;
  background-color: #782cbf;
  box-shadow: inset rgb(0, 0, 0) 0 0 5px;
}

.options {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  padding: 0;
  gap: 20px;
}
.content .inputs {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.content .inputs .input {
  width: 190px;
}
.content .content__main-text {
  font-size: 13px;
  color: #F3EFF5;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.services .credit_card {
  width: 41px;
  height: 30px;
  margin-right: 12px;
}
.services .paypal {
  width: 70px;
  height: 30px;
}
.services .item {
  width: 198px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  padding: 4px 0;
  cursor: pointer;
}
.services .item:hover {
  border-bottom: 3px solid #F3EFF5;
}
.services .item--active {
  border-bottom: 3px solid #F3EFF5;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
}

.modal {
  position: fixed;
  background-color: #262428;
  top: 15px;
  left: 10%;
  width: 60%;
  z-index: 100;
  overflow: hidden;
}
.modal .modal__header {
  background: #421969;
  padding: 1rem;
}
.modal .modal__header h2 {
  margin: 0;
  color: #F3EFF5;
}
.modal .modal__content {
  padding: 1rem;
}
.modal .modal__actions {
  padding: 1rem;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 10rem);
    width: 20rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-button {
  padding: 0;
  width: 100%;
  height: 50px;
}

.form-wrapper {
  background-image: url("../imgs/theme/Background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  min-height: 400px;
  min-width: 600px;
  font-family: "Roboto";
  color: #F3EFF5;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.button--paypal {
  background-color: #F3EFF5;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.button--paypal:hover {
  background-color: #bab1bc;
}

.error-message {
  color: rgb(134, 60, 60);
  padding-top: 10px;
  overflow-wrap: break-word;
}

input.error {
  border: 2px solid rgb(201, 62, 62);
}

.wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: #F3EFF5;
}
.wrapper .wrapper__header {
  color: inherit;
  margin-bottom: 10px;
}
.wrapper .wrapper__header h1 {
  font-size: 25px;
}
.wrapper .wrapper__header h4 {
  font-size: 13px;
  font-weight: normal;
}
.wrapper .wrapper__text {
  color: inherit;
  margin-bottom: 10px;
}
.wrapper .wrapper__text--small {
  font-size: 13px;
}
.wrapper .action {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 16px;
  border: 1px solid #bab1bc;
  border-radius: 4px;
  color: inherit;
}

.card--scroll {
  overflow-y: scroll;
  height: 300px;
}

.filmexLogo {
  color: #F3EFF5;
  font-family: "Nico Moji";
}
.filmexLogo span {
  color: #782cbf;
}

input[type=checkbox] {
  /* Double-sized Checkboxes */ /* IE */ /* FF */ /* Safari and Chrome */ /* Opera */
  transform: scale(1.2);
  padding: 10px;
  margin-right: 10px;
}

.checkbox-text {
  /* Checkbox text */
  font-size: 13px;
  color: #bab1bc;
  display: inline-block;
  text-align: left;
}

.wrapper__checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profileContainer {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 10%;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  position: relative;
}
.profileContainer .profileTile {
  width: 14vw;
  height: 14vw;
  transition: all ease-in-out 0.3s;
}
.profileContainer .profileTile:hover {
  cursor: pointer;
  color: #9864c9;
}
.profileContainer .profileTile .profileImg {
  height: 100%;
  background: #000;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.profileContainer .profileTile .profileImg img {
  height: 100%;
}
.profileContainer .profileTile .profileName {
  margin-top: 20px;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-exit-button {
  position: absolute;
  right: 2rem;
  letter-spacing: 1px;
  bottom: 2rem;
}

.AddProfileModal {
  padding-top: 1rem;
  box-sizing: border-box;
  position: absolute;
  top: 40px;
  border-radius: 10px;
  z-index: 10;
  background: rgb(22, 4, 40);
  background: linear-gradient(0deg, rgb(22, 4, 40) 0%, rgba(40, 9, 69, 0.904441) 100%);
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 3rem;
}
.AddProfileModal img {
  -o-object-fit: contain;
     object-fit: contain;
}
.AddProfileModal label {
  font-size: medium;
}
.AddProfileModal .inputs {
  display: flex;
  flex-direction: column;
  width: 225px;
  gap: 2rem;
}
.AddProfileModal .inputs input[type=text] {
  height: 50px;
}
.AddProfileModal .inputs .file {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}
.AddProfileModal .inputs .file input[type=file] {
  background-color: none;
  padding: 0;
}
.AddProfileModal .inputs .file img {
  width: 40px;
  height: 40px;
}
.AddProfileModal .addRow {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  justify-content: end;
  padding: 0 2rem 2rem 0;
}
.AddProfileModal .right {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.password-input {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}
.password-input .password-icon {
  position: absolute;
  margin-right: 14px;
  z-index: 2;
  width: 26px;
  height: 18px;
}

body {
  font-family: "Roboto";
  color: #F3EFF5;
  margin: 0;
  padding: 0;
  font-size: medium;
  background-color: #262428;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  z-index: 100;
  width: 5px;
  right: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #782cbf;
  border-radius: 1100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9864c9;
}

::-webkit-scrollbar-track {
  background-color: #262428;
}

main {
  width: 100%;
  box-sizing: border-box;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.appBackground {
  font-size: 32px;
  box-sizing: border-box;
  background: rgb(38, 36, 40);
  background: linear-gradient(0deg, rgb(38, 36, 40) 0%, rgb(38, 36, 40) 70%, rgba(120, 44, 191, 0.6166841737) 100%);
  width: 100%;
}

.filmexLogo {
  color: #F3EFF5;
  font-family: "Nico Moji";
  cursor: pointer;
}
.filmexLogo span {
  color: #782cbf;
  cursor: pointer;
}

.icon {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.separator {
  width: 5px;
  height: 5px;
  background-color: #D2D21B;
  border-radius: 100%;
}

select {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
  background: #504957;
  color: #F3EFF5;
  box-sizing: border-box;
  padding: 4px 8px;
  border-radius: 4px;
}

.avatar {
  width: 32px;
  height: 32px;
  padding: 0;
  background-image: url("../imgs/avatars/av1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

input {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0;
  box-sizing: border-box;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 3px;
  height: 100%;
}

.input-background {
  background-color: #F3EFF5;
}/*# sourceMappingURL=style.css.map */