@font-face {
  font-family: "Nico Moji";
  src: url(./fonts/nicomoji/NicoMoji-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(./fonts/roboto/Roboto-Regular.ttf);
}
button {
  font-family: "Roboto";
  letter-spacing: normal;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  border: none;
  box-sizing: content-box;
  font-weight: bold;
  cursor: pointer;
  transition: ease-in-out 0.2s all;
}

.button-primary {
  background-color: #782CBF;
  color: #F3EFF5;
}
.button-primary:hover {
  background-color: #9864c9;
}
.button-primary:active {
  background-color: #782CBF;
  box-shadow: inset black 0 0 5px;
}

.button-secondary {
  background-color: #504957;
  color: #F3EFF5;
  border: 2px #782CBF solid;
}
.button-secondary:hover {
  background-color: #421969;
  color: #F3EFF5;
  border: 2px #F3EFF5 solid;
}
.button-secondary:active {
  background-color: #504957;
  box-shadow: inset black 0 0 5px;
  color: #782CBF;
  border: 2px #782CBF solid;
}

@font-face {
  font-family: "Nico Moji";
  src: url(./fonts/nicomoji/NicoMoji-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(./fonts/roboto/Roboto-Regular.ttf);
}
input[type=checkbox] {
  /* Double-sized Checkboxes */ /* IE */ /* FF */ /* Safari and Chrome */ /* Opera */
  transform: scale(1.2);
  padding: 10px;
  margin-right: 10px;
}

.checkbox-text {
  /* Checkbox text */
  font-size: 13px;
  color: #bab1bc;
  display: inline-block;
  text-align: left;
}

.wrapper__checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.black-background {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 0;
  width: 662px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bab1bc;
  opacity: 1; /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bab1bc;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bab1bc;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #bab1bc;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.wrapper__text-input {
  padding: 10px 16px;
  height: 50px;
  width: 400px;
  color: inherit;
  background-color: inherit;
  border: 2px solid #F3EFF5;
  border-radius: 4px;
}
.wrapper__text-input:focus {
  outline: none;
  border: 3px solid #F3EFF5;
}

.wrapper__text-input--smaller {
  width: 190px;
}

.payments-offer {
  width: 190px;
  height: 65px;
  border: 1px solid #782CBF;
  border-radius: 4px;
  padding: 0 13px;
  color: #F3EFF5;
  display: flex;
  cursor: pointer;
  transition: 0.3s;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.payments-offer h3 {
  font-size: 16px;
  font-weight: normal;
}
.payments-offer h5 {
  font-size: 13px;
  font-weight: normal;
  color: #bab1bc;
}
.payments-offer .circles {
  position: relative;
  height: 16px;
  width: 16px;
}
.payments-offer .circle {
  width: 16px;
  height: 16px;
  position: absolute;
}
.payments-offer .circle-filled {
  width: 16px;
  height: 16px;
  display: none;
  position: absolute;
}
.payments-offer:hover .circle-filled {
  display: inline;
}
.payments-offer:hover {
  border: 1px solid #9864c9;
}
.payments-offer:active {
  box-shadow: inset rgb(173, 78, 218) 0 0 5px;
}
.payments-offer.active .circle-filled {
  display: inline;
}

.payments-offer--primary {
  background-color: #782CBF;
}
.payments-offer--primary:hover {
  border: none;
  background-color: #9864c9;
}
.payments-offer--primary:active {
  border: none;
  background-color: #782CBF;
  box-shadow: inset rgb(0, 0, 0) 0 0 5px;
}

.options {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  gap: 20px;
}
.content .inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content .content__main-text {
  font-size: 13px;
  color: #F3EFF5;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.services .credit_card {
  width: 41px;
  height: 30px;
  margin-right: 12px;
}
.services .paypal {
  width: 70px;
  height: 30px;
}
.services .item {
  width: 198px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  padding: 4px 0;
  cursor: pointer;
}
.services .item:hover {
  border-bottom: 3px solid #F3EFF5;
}
.services .item--active {
  border-bottom: 3px solid #F3EFF5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root,
html,
form {
  height: 100%;
}

button {
  padding: 0;
  width: 100%;
  height: 50px;
}

.button--paypal {
  background-color: #F3EFF5;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.button--paypal:hover {
  background-color: #bab1bc;
}

body {
  background-image: url("../imgs/theme/Background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  min-height: 400px;
  min-width: 600px;
  font-family: "Roboto";
  color: #F3EFF5;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.error-message {
  color: #dc3545;
  padding-top: 10px;
}

input.error {
  border: 2px solid rgb(255, 148, 148);
}

.wrapper {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  color: #F3EFF5;
}
.wrapper .wrapper__header {
  color: inherit;
  margin-bottom: 10px;
}
.wrapper .wrapper__header h1 {
  font-size: 25px;
}
.wrapper .wrapper__header h4 {
  font-size: 13px;
  font-weight: normal;
}
.wrapper .wrapper__text {
  color: inherit;
  margin-bottom: 10px;
}
.wrapper .wrapper__text--small {
  font-size: 13px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 16px;
  border: 1px solid #bab1bc;
  border-radius: 4px;
  color: inherit;
}

.card--scroll {
  overflow-y: scroll;
  height: 300px;
}

.filmexLogo {
  color: #F3EFF5;
  font-family: "Nico Moji";
}
.filmexLogo span {
  color: #782CBF;
}/*# sourceMappingURL=style.css.map */