@import '../../style/colors';
.movieList{
    display: flex;
    width: 100%;
    justify-content: start;
    gap: 2rem;


    .tile{
        width: 18%;
        height: 20vh;
    }
}

.arrowBg{
    width: 50px;
    height: 20vh;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    .arrow{
        width: 40px;
        height: 40px;
        background-image: url("../imgs/icons/arrow.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .right{
        rotate:180deg
    }
}

.leftBg{
    left:0;
}
.rightBg{
    right: 0;
}
