.payment-details {
  position: fixed;
  background-color: $backgroundAppGrey;
  top: 15px;
  width: 50%;
  z-index: 100;
  overflow: hidden;

  .payment-details__header {
    background: $purpleDark;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    h2 {
      margin: 0;
      color: $whiteText;
    }
  }

  .payment-details__content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .payment-details__section {
      display: flex;
      flex-direction: column;
      gap: 5px;
      h3 {
        font-weight: bold;
        font-size: 20px;
      }

      ul {
        margin-left: 20px;

        li {
          padding: 5px 0;
        }
      }
    }
  }

  .right {
    position: absolute;
    right: 1.5rem;
  }
}
