.settings-item__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin: 10px 0 10px 50px;
  align-items: start;
  p.offer {
    white-space: pre-wrap;
    line-height: 2.5;
  }
  .settings-item__input {
    display: flex;
    flex-direction: column;
    // gap: 15px;
  }

  button.offer {
    padding: 6px 0;
  }

  &.settings-item__row--offer {
    margin-top: 1px;
  }

  .settings-item__buttons {
    display: flex;
    gap: 20px;
  }
}
