@import './colors';

.movieList{
    display: flex;
    width: 100%;
    justify-content: start;
    gap: 2rem;

    .tile{
        width: 18%;
        height: 20vh;
    }
}

.movieTile{
    width: 100%;
    height: 20vh;
    transition: all ease-in-out 0.3s;


    &:hover{
        width: 150%;
        height: 25vh;
        z-index: 2;
        transform: translateY(-50%) translateX(-15%);
        
    }

    .tileButton{
        width: 40px;
        height: 40px;
        background-size: cover;
    }

    .movieTileImage{
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;

        .playButton{
            background-image: url('../imgs/movieTile/Play.svg');
            z-index: 5;
        }
    }

    .movieTileInfo{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        box-sizing: border-box;
        background-color: $backgroundDrak;
        padding: 1rem;

        .tileHeader{
            height: 5vh;
            display: flex;
            gap: 0.5rem;
            align-items: center;
            justify-content: space-between;
        }
        .infos{
            display: flex;
            gap:8px;
            align-items: center;
            text-align: start;
            font-size: small;
        }
        .middle{
            justify-content: space-between;
        }
        .movieLogo{
            background-size: contain;
            background-repeat: no-repeat;
            width: 60%;
            height: 3rem;
        }
        .categories{
            display: flex;
            font-size:small;
            gap:8px;

            .movieCategory{
                display: flex;
                align-items: center;
                gap:8px
            }
        }
    }
}