
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    height: 100%;
    gap: 2rem;


    .slider{
        position: relative;
        width: 100%;
        height: max-content;
        display: flex;
        overflow-x: hidden;

        .slide{
            min-width: 100%;
            height: 40vh;
            background-image: url('../imgs/slider/image.png');
            background-size: cover;
            background-repeat:no-repeat;
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: ease-in-out 0.3s all;

            .logo{
                width: 300px;
                min-height:15%;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                transition: ease-in-out 0.3s all;
                cursor: pointer;
                &:hover{
                    transform: scale(1.1);
                }

            }

            .sliderNav{
                position: absolute;
                bottom: 1rem;
                left: 1rem;
                display: flex;
                gap: 8px;

                .indicator{
                    width: 15px;
                    height: 15px;
                    padding: 0;
                    border-radius: 100%;
                    box-shadow: 0 0 5px $purple;
                    background-color: $purpleDark;
                }

                .active{
                    background-color: $purpleLight;
                }
            }
        }
    }

    .producersList{
        width: 100%;
        height: 15vh;
        display: flex;
        justify-content: space-between;

        .producer{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 15%;
            height: 100%;
            background-color: $backgroundDrak;
            border-radius: 10px;
            box-shadow: inset $whiteShadow 0px 0px 10px;
            cursor: pointer;
            transition: ease-in-out all 0.3s;

            &:hover{
                background-color: $purple;
            }
        }

        .producerImage{
            width: 60%;
            height: 10vh;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

        }
    }

    .category{
        width: 100%;

        .title{
            font-size: large;
        }
    }
}